@page
@inject IGetHomeImagePath HomePathGenerator;
@using System.Security.Claims;
<h1>Home Market</h1>
<p>
    Текущий пользователь:
    @{
        if (PageContext.HttpContext.User.Identity.IsAuthenticated){

            @PageContext.HttpContext.User.FindFirst(ClaimTypes.Email).Value;   
        }
        else
        {
            <a asp-page="Login">Войти</a>
        }
    }
</p>
<a asp-page="CreateHome">Добавить дом</a><br />
<a asp-page="AdminPanel">Панель управления</a>
<div class="homes-grid">
    @foreach (Home home in Home.allHomes)
    {     
        <div class="home-card">
            <p>Адрес: @home.address</p>
            <p>Имя владельца: @home.ownerName</p>
            <img src="@HomePathGenerator.GetImagePath(home)">
        </div>
    }
</div>